<ng-container *ngIf="lstData">
  <div class="col">
    <div *ngFor="let item of lstData; let i = index">
      <ng-container *ngIf="i % 2 == 0">
        <input
          type="checkbox"
          (click)="selectItem(item, lstValue[i])"
          [(ngModel)]="lstValue[i]"
        />
        <label for="">{{ item[labelField] }}</label>
      </ng-container>
    </div>
  </div>
  <div class="col">
    <div *ngFor="let item of lstData; let i = index">
      <ng-container *ngIf="i % 2 != 0">
        <input
          type="checkbox"
          (click)="selectItem(item, lstValue[i])"
          [(ngModel)]="lstValue[i]"
        />
        <label for="">{{ item[labelField] }}</label>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="data">
  <input
    type="checkbox"
    (click)="selectItem(data, value)"
    [(ngModel)]="value"
  />
  <label for="">{{ data[labelField] }}</label>
</ng-container>

<ng-container *ngIf="label">
  <input
    type="checkbox"
    (click)="selectItem(label, value)"
    [(ngModel)]="value"
  />
  <label for="">{{ label }}</label>
</ng-container>
