<div class="container">
  <div class="col">
    <div *ngIf="lstPrefectures.length > 0">
      <h2 class="title">都道府県</h2>
      <app-checkbox
        [lstData]="lstPrefectures"
        [labelField]="'prefName'"
        (check)="getCheckedItem($event)"
      ></app-checkbox>
    </div>
  </div>

  <div class="col chart">
    <div *ngIf="chartData.length > 0 && chartLabels.length > 0">
      <app-line-chart
        [lineChartData]="chartData"
        [lineChartLabels]="chartLabels"
      ></app-line-chart>
      <h2 class="title">{{ checkedItem.prefName }}の人口マップ</h2>
    </div>
  </div>
</div>
